@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700");
@import url("https://fonts.googleapis.com/css2?family=Anton");

*,
body {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  background: none;
  border: none;
}

html,
body {
  font-family: "Inter", sans-serif;
}

#app {
  font-family: "Inter", sans-serif;
}

body.lock {
  overflow-y: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #b4b4b3;
  border-radius: 4px;
}

[class*="__container"] {
  max-width: 1355px;
  padding: 0px 15px;
  margin: 0 auto;
  width: 100%;
}

.title-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: clamp(45px, 2.5vw, 75px);
}

.section__title {
  font-size: clamp(40px, 5vw, 60px);
}

.title-section__link {
  text-decoration: underline;
  font-size: clamp(16px, 1.5vw, 20px);
}
@media (max-width: 767px) {
  .title-section {
    align-items: end;
    line-height: 100%;
  }
}
